body {
  text-align: center;
  justify-content: center;
  background-color: rgb(190, 188, 188);

  margin: 0;
  font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

li {
  list-style: none;
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}